build/
**/derby.log
**/metastore_db
**/*__pycache__
**.swp
target/
.idea/
.idea_modules/
.DS_Store
.vagrant
*.iml
*.ipynb
.ipynb_checkpoints/
apache-rat-*.jar
!etc/**/*.ipynb
scratch/
**/*ivy.xml
test-output/
out/
dist/

.example-image
.ensime
.ensime_cache/

Untitled*.ipynb
