recursive-include toree/bin *
recursive-include toree/lib *
recursive-include licenses *
include toree/VERSION include toree/logo-64x64.png toree/DISCLAIMER toree/RELEASE_NOTES.md
include LICENSE DISCLAIMER NOTICE RELEASE_NOTES.md
